@using Apollo.Models.Apollo
@using Apollo.Controllers
@model Dictionary<ApolloDBHandler.BridgingTables,List<Album>>
@{
    ViewBag.Title = "Albums";
}

<div id="albumsBody" class="container">
    <div id="likedAlbumsViewerBody" class="col-lg-6 col-sm-12 text-center" style="background-color:aqua">
        <div class="get-prev">
            <button class="btn btn-info btn-albums ">&#10096</button>
        </div>
        <div class="pprev img-album">

        </div>
        <div class="prev img-album">

        </div>
        <div class="selected img-album">
            <img class="img-responsive" src="@Model[ApolloDBHandler.BridgingTables.LIKED_ALBUMS][0].ImageLink" alt="Album Image" name="@Model[ApolloDBHandler.BridgingTables.LIKED_ALBUMS][0].Uri">
        </div>
        <div class="next img-album">
            <img class="img-responsive" src="@Model[ApolloDBHandler.BridgingTables.LIKED_ALBUMS][1].ImageLink" alt="Album Image" name="@Model[ApolloDBHandler.BridgingTables.LIKED_ALBUMS][1].Uri">
        </div>
        <div class="nnext img-album">
            <img class="img-responsive" src="@Model[ApolloDBHandler.BridgingTables.LIKED_ALBUMS][2].ImageLink" alt="Album Image" name="@Model[ApolloDBHandler.BridgingTables.LIKED_ALBUMS][2].Uri">
        </div>
        <div class="get-next">
            <button class="btn btn-info btn-albums ">&#10097</button>
        </div>
        <div id="albumControls">
            <iframe width="250" height="80" frameborder="0" allowtransparency="true"></iframe>
            <br />
            <button class="btn btn-remove">&#10006</button>
        </div>
    </div>

    <div id="passedAlbumsViewerBody" class="col-lg-6 col-sm-12 text-center" style="background-color:green">
        <div class="get-prev">
            <button class="btn btn-info btn-albums ">&#10096</button>
        </div>
        <div class="pprev img-album">

        </div>
        <div class="prev img-album">

        </div>
        <div class="selected img-album">
            <img class="img-responsive" src="@Model[ApolloDBHandler.BridgingTables.PASSED_ALBUMS][0].ImageLink" alt="Album Image" name="@Model[ApolloDBHandler.BridgingTables.PASSED_ALBUMS][0].Uri">
        </div>
        <div class="next img-album">
            <img class="img-responsive" src="@Model[ApolloDBHandler.BridgingTables.PASSED_ALBUMS][1].ImageLink" alt="Album Image" name="@Model[ApolloDBHandler.BridgingTables.PASSED_ALBUMS][1].Uri">
        </div>
        <div class="nnext img-album">
            <img class="img-responsive" src="@Model[ApolloDBHandler.BridgingTables.PASSED_ALBUMS][2].ImageLink" alt="Album Image" name="@Model[ApolloDBHandler.BridgingTables.PASSED_ALBUMS][2].Uri">
        </div>
        <div class="get-next">
            <button class="btn btn-info btn-albums ">&#10097</button>
        </div>
        <div id="albumControls">
            <iframe width="250" height="80" frameborder="0" allowtransparency="true"></iframe>
            <br />
            <button class="btn btn-remove">&#10006</button>
        </div>   
    </div>

    <div id="albumSeedBody" class="col-lg-12 col-sm-12" style="background-color:gold">
        <input id="albumSeedText" type="search" name="albumSeedText" class="ui-autocomplete form-control" placeholder="Search for an Album" maxlength="50" required>
    </div>
</div>

@section scripts {
    <script>
        var likedAlbumIndex = 0;
        var passedAlbumIndex = 0;

        var likedAlbums = @Html.Raw(Json.Encode(Model[ApolloDBHandler.BridgingTables.LIKED_ALBUMS]));
        var passedAlbums = @Html.Raw(Json.Encode(Model[ApolloDBHandler.BridgingTables.PASSED_ALBUMS]));

        debugger;

        function GetNext(albums, data, passed) {
            var start;
            if (albums.eq(1).children().length == 0) {
                albums.eq(1).append('<img class="img-responsive" alt="Album Image">');
                start = 1;
            } else if (albums.eq(0).children().length == 0) {
                albums.eq(0).append('<img class="img-responsive" alt="Album Image">');
                start = 0;
            } else {
                start = 0;
            }
            for (var i = start; i < albums.length - 1; i++) {
                albums.eq(i).children().eq(0).attr("src", albums.eq(i + 1).children().eq(0).attr("src"));
                albums.eq(i).children().eq(0).attr("name", albums.eq(i + 1).children().eq(0).attr("name"));
            }
            albums.eq(albums.length - 1).children().eq(0).attr("src", data.imageLink);
            albums.eq(albums.length - 1).children().eq(0).attr("name", data.uri);

            if (passed == 1) {
                passedAlbumIndex++;
            } else {
                likedAlbumIndex++;
            }
        }

        function GetNext_Null(albums, passed) {
            if (albums.eq(albums.length - 2).children().length > 0) {
                for (var i = 0; i < albums.length - 1; i++) {
                    if (albums.eq(i + 1).children().length > 0) {
                        albums.eq(i).children().eq(0).attr("src", albums.eq(i + 1).children().eq(0).attr("src"));
                        albums.eq(i).children().eq(0).attr("name", albums.eq(i + 1).children().eq(0).attr("name"));
                    } else {
                        albums.eq(i).children().eq(0).remove();
                    }
                }
                albums.eq(albums.length - 1).children().eq(0).remove();

                if (passed == 1) {
                    passedAlbumIndex++;
                } else {
                    likedAlbumIndex++;
                }
            }
        }

        function GetPrev(albums, data, passed) {
            var start;
            if (albums.eq(albums.length - 2).children().length == 0) {
                albums.eq(albums.length - 2).append('<img class="img-responsive" alt="Album Image">');
                start = albums.length - 2;
            } else if (albums.eq(albums.length - 1).children().length == 0) {
                albums.eq(albums.length - 1).append('<img class="img-responsive" alt="Album Image">');
                start = albums.length - 1;
            } else {
                start = albums.length - 1;
            }
            for (var i = start; i > 0; i--) {
                albums.eq(i).children().eq(0).attr("src", albums.eq(i - 1).children().eq(0).attr("src"));
                albums.eq(i).children().eq(0).attr("name", albums.eq(i - 1).children().eq(0).attr("name"));
            }
            albums.eq(0).children().eq(0).attr("src", data.imageLink);
            albums.eq(0).children().eq(0).attr("name", data.uri);

            if (passed == 1) {
                passedAlbumIndex--;
            } else {
                likedAlbumIndex--;
            }
        }

        function GetPrev_Null(albums, passed) {
            if (albums.eq(1).children().length > 0) {
                for (var i = albums.length - 1; i > 0; i--) {
                    if (albums.eq(i - 1).children().length > 0) {
                        albums.eq(i).children().eq(0).attr("src", albums.eq(i - 1).children().eq(0).attr("src"));
                        albums.eq(i).children().eq(0).attr("name", albums.eq(i - 1).children().eq(0).attr("name"));
                    } else {
                        albums.eq(i).children().eq(0).remove();
                    }
                }
                albums.eq(0).children().eq(0).remove();

                if (passed == 1) {
                    passedAlbumIndex--;
                } else {
                    likedAlbumIndex--;
                }
            }
        }

        $(function () {
            $('#likedAlbumsViewerBody > .get-next > button').on("click", function () {
                $('#likedAlbumsViewerBody > .get-next > button').attr("disabled", true);
                $.post(
                    "@Url.Action("GetAlbum", "Apollo")",
                    { index: likedAlbumIndex + 3, table: 0 },
                    function (data) {
                        if (data) {
                            GetNext($('#likedAlbumsViewerBody').children('.img-album'), data, 0);
                        } else {
                            GetNext_Null($('#likedAlbumsViewerBody').children('.img-album'), 0);
                        }
                        $('#likedAlbumsViewerBody > .get-next > button').attr("disabled", false);
                    }).fail(function () {
                        $('#likedAlbumsViewerBody > .get-next > button').attr("disabled", false);
                    });
            });

            $('#likedAlbumsViewerBody > .get-prev > button').on("click", function () {
                $('#likedAlbumsViewerBody > .get-prev > button').attr("disabled", true);
                $.post(
                    "@Url.Action("GetAlbum", "Apollo")",
                    { index: likedAlbumIndex - 3, table: 0 },
                    function (data) {
                        if (data) {
                            GetPrev($('#likedAlbumsViewerBody').children('.img-album'), data, 0);
                        } else {
                            GetPrev_Null($('#likedAlbumsViewerBody').children('.img-album'), 0);
                        }
                        $('#likedAlbumsViewerBody > .get-prev > button').attr("disabled", false);
                    }).fail(function () {
                        $('#likedAlbumsViewerBody > .get-prev > button').attr("disabled", false);
                    });
            });

            $('#passedAlbumsViewerBody > .get-next > button').on("click", function () {
                $('#passedAlbumsViewerBody > .get-next > button').attr("disabled", true);
                $.post(
                    "@Url.Action("GetAlbum", "Apollo")",
                    { index: passedAlbumIndex + 3, table: 1 },
                    function (data) {
                        if (data) {
                            GetNext($('#passedAlbumsViewerBody').children('.img-album'), data, 1);
                        } else {
                            GetNext_Null($('#passedAlbumsViewerBody').children('.img-album'), 1);
                        }
                        $('#passedAlbumsViewerBody > .get-next > button').attr("disabled", false);
                    }).fail(function () {
                        $('#passedAlbumsViewerBody > .get-next > button').attr("disabled", false);
                    });
            });

            $('#passedAlbumsViewerBody > .get-prev > button').on("click", function () {
                $('#passedAlbumsViewerBody > .get-prev > button').attr("disabled", true);
                $.post(
                    "@Url.Action("GetAlbum", "Apollo")",
                    { index: passedAlbumIndex - 3, table: 1 },
                    function (data) {
                        if (data) {
                            GetPrev($('#passedAlbumsViewerBody').children('.img-album'), data, 1);
                        } else {
                            GetPrev_Null($('#passedAlbumsViewerBody').children('.img-album'), 1);
                        }
                        $('#passedAlbumsViewerBody > .get-prev > button').attr("disabled", false);
                    }).fail(function () {
                        $('#passedAlbumsViewerBody > .get-prev > button').attr("disabled", false);
                    });
            });
        });

        $('#albumSeedText').autocomplete({
            autoFocus: false,
            delay: 500,
            minLength: 0,
            classes: { "ui-autocomplete": "highlight" },
            source: function (request, response) {
                $.post(
                    "@Url.Action("SearchForAlbum", "Apollo")",
                    { searchInput: request.term },
                    function (data) {
                        response(data);
                    }
                );
            },
            select: function (event, ui) {
                window.location.replace('@Url.Action("AddAlbumSeed", "Apollo")?Uri=' + ui.item.Uri);
            }
        }).autocomplete("instance")._renderItem = function (ul, item) {
            return $("<li class='selector'><div><img src='" + item.Img + "' name='" + item.Uri + "' class='img-responsive img-search'/><span>" + item.Value + "</span></div></li>").appendTo(ul);
        };
    </script>
}