@using Apollo.Controllers
@using Apollo.Models.Apollo
@model List<Album>
@{
    ViewBag.Title = "Discover";
}

<div class="container">
    <div id="spotifyPlayerContainer" class="text-center col-sm-5">
        <!-- NOTE: uri will have to be dynamically created to change the album on the widget -->
        <iframe style="height: 70vh" id="spotifyPlayer" src="" frameborder="1"></iframe>
    </div>

    <div id="discoverAlbumListContainer" class="text-center screen col-sm-7 row">
        @foreach (Album album in Model) {
            <div class="panel panel-default col-sm-4">
                <div class="panel-heading text-title text-center">@album.Name</div>
                <div class="panel-body">
                    <img class="albumImgSelect img-responsive img-rounded" src="@album.ImageLink" alt="Album Image" name="@album.Uri">
                    <div class="text-center">
                        @Html.ActionLink("Like", "ProcessAlbum", "Apollo", new { albumURI = album.Uri, like = true }, new { @class = "btn btn-primary btn-discover", @name = album.Uri })
                        @Html.ActionLink("Pass", "ProcessAlbum", "Apollo", new { albumURI = album.Uri, like = false }, new { @class = "btn btn-danger btn-discover", @name = album.Uri })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            $('button').on("click", function () {
                this.off("click");
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangeEmail", "Apollo")",
                    dataType: 'json',
                    data:
                    {
                        buttonType: $(this).attr('id'),
                        albumURI: $(this).attr('name')
                    }
                });
                location.reload(true);
            });

            $('.albumImgSelect').on("click", function () {
                var url = "https://embed.spotify.com/?uri=";
                var uri = $(this).attr('name');
                var newSrc = url.concat(uri);
                $('#spotifyPlayer').attr("src", newSrc);
                $(".albumSelection").css("background", "");
                $(this).parent().css("background", "linear-gradient(to right, #9bc394, #cffac8, #9bc394)");
            });
        });
    </script>
}